*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* margin: 50px; */

}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 85%;
  height: 770px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 80px 125px 80px 125px;

  overflow: auto;

}
header{
  text-align: center;
  margin-bottom: 10px;
}

#logo{
  width: 240px;
  height: 110px;
}

header > h1 {
  color: rgb(0, 221, 0);

}

nav {
  background-color: rgb(0, 221, 0);
  padding:  10px;
  text-align: center;
  margin-bottom: 20px;
}

nav > button {
  font-size: 12px;
}

section {
  color: white;
  margin-bottom: 20px;
  font-family: monospace;
  font-weight: normal;
  line-height: 22px;
}

section > span {
  margin-bottom: 100px;
}

.arrow:before{
  content: ' \2192';
}

.bar1 {
  width: 350px;
  height: 30px;
  background-color: rgb(245, 180, 83);
}

.bar2 {
  width: 600px;
  height: 30px;
  background-color: rgb(30, 195, 30);
}

.bar3 {
  width: 150px;
  height: 30px;
  background-color: rgb(190, 65, 65);
}

section > div {
  border-radius: 10px;
}
